// colors
$clr_white        : #F8FBFD;
$clr_black        : #333333;
$clr_alt_white    : #DCD6AC;
$clr_lite         : #FBD364;
$clr_dark         : #E3A33E;
$clr_alt_lite     : #2A77BC;
$clr_alt_darker   : #0654AD;

$clr_primary      : #7F796B;
$clr_success      : #5cb85c;
$clr_warning      : #ed9c28;
$clr_info         : #39b3d7;
$clr_danger       : #d2322d;